.trainfilter-grid-s{
    display: grid;
    grid-template-columns: 25% 70%;
    grid-gap: 5%;
    width: 84%;
    margin: auto;
}
.filter-image-train-grid-s{
    display: grid;
    grid-template-columns: 50% 50%;
}
.filter-image-train-grid-s>div{
    padding:10% 35% 10% 35%;
    border: 1px solid rgb(218, 218, 218);
}
.pointer{
    cursor:pointer;
}
.gray-background{
    background-color:#f8f8f8;
}
.white-background{
    background-color:white;
}

/* list side */
.train-list-grid-s{
    border: 2px solid black;
    display: grid;
    grid-template-columns: 30% 50% 16%;
    grid-gap: 2%;
    padding: 1%;
    margin-bottom: 2%;
}
.insider-list-train-s{
    display: grid;
    grid-template-columns: 15% 75%;
    grid-gap: 5%;
}
.innerlist-train-secondgrid-s{
    display: grid;
    grid-template-columns:22% 22% 22% 22%;
    grid-gap: 2%;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}
.innerlist-train-secondgrid-s>div{
    border: 1px solid rgb(219, 219, 219);
    border-radius: 10px;
    text-align: center;
    align-items: center;
}
