.coupon-button_p{
    background-color: grey;;
    border: 1px solid red;
    min-width: 70px;
    float: left;


}
.input_p{
    border: 1px solid rgb(226, 225, 225);
}
.inp_p{
    
    margin:2% 1% ;
}
.inp_mob_p{
    width: 80%;
}
.border_div_p{
    border: 1px solid lightslategray !important;
    
}
.WID_P{
    width: 100%;
    margin:0% 2%;
}
.text_p{
    text-align: left;
    display: flex;
}
.margin_Payment_p{
    margin: 5%;
    word-wrap: break-word;
    text-align: left;
   
}
.cen_p{
    text-align: center;
}
.btn-back_p{
    background-color: rgb(200, 207, 214);
}
.btn-back_p>button{
   margin:2% 40%;
}
.card_p{
    border: 1px solid lightslategray;
    width: 100%;
}
.coupon_p{
    margin:2% 0% ;
    height: 45px;
}
.pay_thumb_p{
    width: 100%;
    height: 100%;
}
.lable_pay_p{
    margin-top: 2%;
   width:  75%;
    margin-right: 0%;
}
.coupon_inp_p{
    width: 100px;
    margin: 0%;
    height: 30px;
}
.color_payment_p{
   font-weight: 0 !important;
}
.payment_justify_undset_p{
    justify-content: unset;
    width: 2%;
}
.card_input_width_payment_p{
    width: auto;
}

.border_none_payment_p{
    border: 1px solid lightsteelblue;
    background-color: #dc3545;
    color: white;
}