
.thumbnail-div-p{
    height: 200px;
    width: 200px;
}
.thumbnail_img_p{
    height: 100%;
    width: 100%;
}
.suggestion-width_p{
    width: 150%;
    border:  1px solid lightslategray;
    justify-content: space-between;
}

.teal_p{
    background-color: #efefef;
    height: 30px;
    
   

}.right_p{
    float: right;
    font-size: 14px;
    margin:0.5% 4%;
}
.filter_p{
    border: 1px solid lightslategray;
   
    width: 15%;
    margin: 5%;
    height: fit-content;
}
.filter_p_h3{
    border: 1px solid lightslategrey;
    text-align: center !important;
    margin: 1%;
    margin-bottom: 0%;
}
.filter_p_button{
    align-self: center;
    margin:5% 30% !important;
    background-color: #dc3545;
    color: white;
    font-size: 16px;
    border: none;
}
.reserve_shoeHotels_p{
    align-self: center;
    margin:5%  !important;
    background-color: #dc3545;
    color: white;
    font-size: 16px;
    border: none;
}
input[type="checkbox" ] {
    background-color: initial;
    cursor: default;
    
    box-sizing: border-box;
    color: lightslategray !important;
   
    border: initial;
}

.btn-margin_p{
    margin: 5%;
}
.btn-margin_p>button{
    margin-top: 5%;
    width: 100%;
}
.p_p{
   margin-left: 0%;
    margin-top:0% ;
}
.showHotels_h3-p{
    margin-right: 0%;
}
.green_p{
    background-color: cadetblue;
}

.lable_filter_p{
    vertical-align: middle;
   height: 15px;
   width: 100%;
   margin-top: 10%;
}

.showhotel_header_p{
    margin:1% 4%;
}
.margin_showHotel_p{
    margin: 4.5%;
}
.margin_suggestion_p{
    margin: 2%;
}
.location_showHotel_p{
    height: 20px;
    width: 20px;
}