
.Footers_p>ul li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
   
    width: 3em;
    margin-left: -4em;
    text-align: left;
}
.block_p{
    display: block;
}
.Footers_p{
    color: lightslategrey;
    width: 20%;
    height: fit-content;
    margin-left: 5%;

}

.Footers_p_ul {
    display: block;
    text-align: left;
    margin-left: 1%;
 }
 .Footers_p_li {
   margin: -10%;
  
 }
 p{
     text-align: left;
 }

.black_p{
    color: black;
    font-size: 16px;
    margin: 1%;
}