.flex{
    display: flex !important;
   
    margin: 1% 15%;
}
.input_searchBox_p{
    margin: 0% ;
    height: 40px;
    margin-left: 20px;
   
    border: none;
}
.floating-label-group {
	position: relative;
	margin-top: 15px;
	margin-bottom: 25px;
   
   
}
.margin_searchBox_p{
	margin-left: 10%;
}
	.floating-label {
		font-size: 14px;
		color: #cccccc;
		position: absolute;
		pointer-events: none;
		top: 9px;
		left: 12px;
		transition: all 0.1s ease;
        
	}
	.color_p{
		color: #cccccc;
	}
	.floating-label2 {
		font-size: 14px;
		color: #cccccc;
		position: absolute;
		pointer-events: none;
		top: -15px;
		left: 15px;
		transition: all 0.1s ease;
       
	}
	input:focus ~ .floating-label,
	input:not(:focus):valid ~ .floating-label {
		top: -15px;
		bottom: 0px;
		left: 0px;
		font-size: 14px;
		opacity: 1;
		color: darkslategrey;
        border: none;
	}

	
	



.row {
	margin-top: 50px;
}
.border_start{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.border_p{
    border:1px solid grey;
    
    height: 60px;
    margin:1% 0%;
    padding: 0%;
}
.icon{
    height:30px;
    width: 20px;
    position: absolute;
}

.button_search{
    height: 60px;
    width: 150px;
    margin: 1% 0%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
	background-color: #dc3545;
	color: white;
	font-size: 16px;
}



