.flex_ShowRoom_p{
    display: flex;
}
.show{
    width: 150%;
    height: 150%;
    margin: 3.7%;
    margin-top: 0%;
}
.show>img{
    height: 50%;
    width: 100%;
}
.img{
    height: 105%;
    width: 47%;
}
.show+img+div{
    justify-content: space-between;
   margin: 2%;
}
.block_p{
    display: block;
    width: 100%;
}
.width_header_p{
    width: 50%;
}
.width_header_p_img{
    width: 100%;
    height: 100%;
    margin-left: 20%;
}
.fl-ri_p{
    float: right;
}
.check{
    border: 1px solid grey;
   margin-top: 2%;
}
.short-box{
    width: 100%;
    border: 1px solid darkgray;
    margin:  1%;
    margin-right: 0%;
    height: 200px;
   text-align: left;
}
.text-decor_p{
      font-weight:100 ;
      color: red;
      text-align: start;
      margin-top:8%;
      margin-left: 8%;
}
.h4_room_p{
    margin-left: 4%;
}
.special-li_p{
    display: block;
    text-align: start;
}
.special-li_li_p{
   list-style-type: disc;
   margin: 0%;
   padding: 0%;
}
body{
    font-size: 14px;
}
.short_div_p{
    width: 50%;
}
.description_p{
    width: 90%;
    margin: 2%;
    text-align: left;
}
.description_p_h4{
  margin-left: 4%;
   text-align: left;
}
.cancellation_div_p{
    height: 450px;
    margin: 2%;
}
.margin_room_type_p{
    margin-left: 10%;
    text-align: center;
}
.sugg_img{
    height: 65%;
    width: 100%;
}

.button_ShowRoom_p{
    border: none;
    background-color: #dc3545;
    color: white;
    margin: 1.5% 0%;
}

.showRoom_border_p{
    border: 1px solid lightslategray;
}