.inputbox{
    width:100% ;
    text-align: center;
    height:40px ;
}


.freeRide{
    text-align: center;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 10% 80%;
    margin-top:5px ;
    margin-bottom: 30px;
}
.login_btn{
    text-align: center;
    height: 40px;
    width: 80%;
    background-color: red;
    color: white;
    margin-left:10%;
}
.para{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.refBtn{
    display: grid;
    grid-template-columns: 30% 30%;
    margin-left: 30%;
     grid-gap:10px;
}