header {
  background: #efefef;
  color: #444444;
  border-bottom: 1px solid #ccc;
  /* font-size: 20px; */
}

.main {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #212529;
}
.logo {
  width: 90px !important;
  height: 55px !important;
}

header,
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  /* top : 50%; */
}

li {
  font-size: 18px !important;
  position: relative;
  width: 100%;
  margin-left: 40px;
  padding: 15px;
}
