ul {
  list-style: none; /* Remove default bullets */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.Footers > ul li::before {
  content: "\2022";
  font-size: 0.8rem;
  color: rgb(211, 33, 33);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  text-align: left;
  height: 25px;
}

.Footers {
  width: 100%;
}

.Footers > ul {
  text-align: left;
}
p {
  text-align: left;
  padding-left: 4%;
  font-weight: bold;
}
.black {
  margin-left: -20px;
  text-align: left;
  color: black;
  font-size: 15px;
  margin-bottom: 15px;
}
.footers-grid-s {
  display: grid;
  grid-template-columns: 24% 24% 20% 17% 20%;
}
